.app-content-container{
    width: 100%;
    display: flex;
}
.app-content{
    margin:auto;
    width: 60%;
}
@media(max-width: 1000px){
    .app-content{width: 80%}
}
@media(max-width: 600px){
    .app-content{width: 100%}
}

.d-flex{display: flex;}
.d-block{display: block;}
.d-none{display: none;}

.flex-1{flex:1;}
.flex-wrap{flex-wrap: wrap;}

.font-bold{ font-weight: bold;}

.w-full{width: 100%;}
.h-full{height: 100%;}

.text-center{text-align: center;}

.justify-end{justify-content: end;}
.justify-center{justify-content: center;}
.justify-space-between{justify-content: space-between;}
.justify-space-around{justify-content: space-around;}